{# templates/emails/sign_invitation.html.twig #}

<h3>გამარჯობა, {{ signee_name }}!</h3>

<p>
    თქვენ მიიღეთ ახალი ხელშეკრულება, "{{ contract_title }}", ხელმოსაწერად.
</p>

<p>
    გთხოვთ, გადახვიდეთ ქვემოთ მოცემულ ბმულზე დოკუმენტის სანახავად და ხელმოსაწერად:
</p>

<p>
    <a href="{{ sign_url }}">ხელშეკრულების ნახვა და ხელმოწერა</a>
</p>

<p>
    ბმული: {{ sign_url }}
</p>

<p>
    მადლობა,
</p>
